<div class="lead">Hi, I'm Daniel Nagy</div>

<section>
  <div class="heading">About Me</div>
  <div class="date">May 17, 2015</div>
  <p>
    I am a student at Ohio University pursuing a bachelor’s degree in computer science. The curriculum is composed of computer science and electrical engineering courses, with additional requirements in science, mathematics, and general education. I will be graduating, with a Bachelor of Science in Computer Science, on December 12, 2015. In addition, I work part-time as a web developer in the Custom Applications Department. The Department is responsible for developing web application for clients affiliated with the University. The majority of my work focuses on front-end development and user experience.
  </p>
  <p>
    In my leisure, I enjoy playing intramural soccer. Although formations are nonexistent in recreational leagues, I often find myself playing a wingback position. In addition, I recently acquired a keyboard and started practicing the piano. Full disclosure, I am an awful musician; however, I am making noticeable improvement. My goal is to play at least one instrument with some indication of talent. Furthermore, I have a interest in luxury and performance automobiles. Currently, I drive a five-speed 2004 Jaguar X-Type. Even though it is starting to fall apart, I love this car. I think every man’s true love is his first car. As a kid, I would repair bicycles by swapping parts from other bicycles. When I can afford it, I would like to acquire a quality tool set and learn to do my own services and repairs.
  </p>
</section>