comment {
  padding-top: 16px;
  
  &:first-of-type {
    padding-top: 32px;
  }
  
  img {
    flex: 0 0 auto;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin-right: 16px;
    .elevate();
  }
  
  .header {
    padding-bottom: 8px;
    height: 60px;
    
    .author {
      font-size: 20px;
      font-weight: 500;
    }
    
    .date {
      color: @secondary-text;
      font-size: 14px;
      font-weight: 500;
    }
  }
  
  .body {
    color: @secondary-text;
    padding-bottom: 16px;
    
    &[marked] {
      > *:first-child {
        margin-top: 0;
      }
      
      > *:last-child {
        margin-bottom: 0;
      }
    }
  }
  
  actions {
    margin: 0 -12px;
  }
}

tabs.comment-composer {
  margin-top: 32px;
}

form[name="compose.form"] {
  padding: 8px 16px 0px;
  
  > actions {
    z-index: 1;
    margin: 0 -4px;
    padding: 16px 0 6px;
  }
}

comment.preview {
  padding: 32px 16px;
  
  .body {
    padding-bottom: 0;
  }
}