list {

  &[comment-list] {
    margin-left: -16px;
    margin-right: -16px;
  }
  
  [marked] {
    > p {
      margin-top: 0;
    }
    
    pre[class*="language-"] {
      padding: 8px;
      margin: 16px 0;
      border: 1px darken(#f5f2f0, 8%) solid;
      border-radius: 2px;
    }
    
    > *:last-child {
      margin-bottom: 0 !important;
    }
  }
}

tabs.comment-composer {
  margin-top: 32px;
}

form[name="compose.form"] {
  padding: 8px 16px 0px;
  
  > actions {
    z-index: 1;
    margin: 0 -4px;
    padding: 16px 0 6px;
  }
}

comment.preview {
  padding: 32px 16px;
  
  .body {
    padding-bottom: 0;
  }
}