drawer#left {
  wallpaper {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-image: url('/images/autumn.jpg');
    background-repeat: no-repeat;
    background-size: auto 100%;
    
    gravatar {
      margin: 16px;
      height: 80px;
      width: 80px;
      border: 2px rgba(198, 87, 34, 0.8) solid;
      border-radius: 100%;
      overflow: hidden;
      
      .elevate(2);
      
      &:hover {
        transform: translateY(-2px);
        .elevate(4);
      }
      
      transition: box-shadow 0.2s ease, transform 0.2s ease;
    }
    
    toolbar {
      padding: 0 16px;
      font-size: 20px;
      color: #fff;
      background-color: rgba(198, 87, 34, 0.8);
      box-shadow: 0 -1px 10px rgba(0, 0, 0, 0.5),
      inset 0 -1px darken(rgba(198, 87, 34, 0.8), 10%),
      inset 0 1px lighten(rgba(198, 87, 34, 0.8), 15%);
    }
  }
}