drawer#left {
  wallpaper {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 216px;
    background-image: url('/images/profile.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom;
    
    .name {
      padding: 16px;
      font-size: 28px;
      font-weight: 300;
      color: #fff;
      background-color: @primary;
    }
  }
}