drawer#left {
  profile {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 216px;
    overflow: hidden;
    
    img {
      position: absolute;
      width: 100%;
      top: 0;
      z-index: -1;
    }
    
    .name {
      padding: 16px;
      font-size: 28px;
      font-weight: 300;
      color: #fff;
      background-color: @primary;
    }
  }
}