.lead {
  font-size: 24px;
  font-weight: 300;
  color: @primary;

  .min-width(@screen-gt-sm, {
    margin-top: 48px;
    margin-bottom: -24px;
    font-size: 24px;
  });

  .max-width(@screen-sm, {
    margin-top: 32px;
    margin-bottom: -16px;
  });
}

section {

  > .date {
    padding-bottom: 8px;
    font-size: 14px;
    color: @secondary-text;
  }
  
  > .heading {
    font-size: 32px;
    font-weight: 300;
  }
  
  > p {
    margin: 16px 0;
    line-height: 1.5;
  }
  
  > *:last-child {
    margin-bottom: 0;
  }

  img.raise {
    .elevate();
  }
  
  icon, [icon] {
    fill: @secondary-text;
  }

  & + & {
    border-top: 1px @divider solid;
  }

  .min-width(@screen-gt-sm, {
    padding-top: 64px;
    padding-bottom: 64px;
    
    > img {
      max-width: 75%;
      margin: 32px 0;
    }
  });

  .max-width(@screen-sm, {
    padding-top: 48px;
    padding-bottom: 48px;
    
    > img {
      max-width: 100%;
      margin: 16px 0;
    }
  });
}