.lead {
  font-size: 24px;
  font-weight: 300;
  color: @primary;

  .min-width(@screen-gt-sm, {
    padding-top: 16px;
  });

  .max-width(@screen-sm, {
    margin-top: 8px;
  });
}

.lead + section {
  .min-width(@screen-gt-sm, {
    padding-top: 16px;
  });
  
  .max-width(@screen-sm, {
    padding-top: 8px;
  });
}

section {

  > .date {
    padding-bottom: 8px;
    font-size: 14px;
    color: @secondary-text;
  }
  
  > .heading {
    font-size: 32px;
    font-weight: 300;
  }
  
  > .subsection {
    margin-top: 32px;
  }
  
  > p {
    margin: 16px 0 0;
    line-height: 1.5;
    
    &:last-of-type:not(:last-child) {
      margin-bottom: 16px;
    }
  }
  
  > *:last-child {
    margin-bottom: 0;
  }

  img.raise {
    .elevate();
  }
  
  icon, [icon] {
    fill: @secondary-text;
  }

  & + & {
    border-top: 1px @divider solid;
  }

  .min-width(@screen-gt-sm, {
    padding-top: 48px;
    padding-bottom: 48px;
    
    > img {
      max-width: 75%;
      margin: 32px 0;
    }
  });

  .max-width(@screen-sm, {
    padding-top: 32px;
    padding-bottom: 32px;
    
    > img {
      max-width: 100%;
      margin: 16px 0;
    }
  });
}

card > section {
  .min-width(@screen-gt-sm, {
    &:first-child {
      padding-top: 24px;
    }
    &:last-child {
      padding-bottom: 24px;
    }
  });
  
  .max-width(@screen-sm, {
    &:first-child {
      padding-top: 16px;
    }
    &:last-child {
      padding-bottom: 16px;
    }
  });
}