[hide-gt-sm] {
  .min-width(@screen-sm, {
    display: none;
  });
}

[hide-gt-md] {
  .min-width(@screen-md, {
    display: none;
  });
}

[hide-gt-lg] {
  .min-width(@screen-lg, {
    display: none;
  });
}

[show-gt-sm] {
  .max-width(@screen-sm, {
    display: none;
  });
}

[show-gt-md] {
  .max-width(@screen-md, {
    display: none;
  });
}

[show-gt-lg] {
  .max-width(@screen-lg, {
    display: none;
  });
}