// components
@import "components/toolbar";
// mixins
@import "mixins/elevation";
@import "mixins/media-queries";

// color palet
@lighter : #B3E5FC;
@light   : #4FC3F7;
@primary : #03A9F4;
@dark    : #0288D1;
@darker  : #01579B;

body {
  margin: 0;
  font-family: RobotoDraft, Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
}