// color palet
@lighter : #B3E5FC;
@light   : #4FC3F7;
@primary : #03A9F4;
@dark    : #0288D1;
@darker  : #01579B;

// gray scale
@divider: rgba(0, 0, 0, 0.12);
@disabled: rgba(0, 0, 0, 0.26);
@secondary-text: rgba(0, 0, 0, 0.54);
@text: rgba(0, 0, 0, 0.87);

// media sizes
@screen-sm: 600px;
@screen-gt-sm: @screen-sm + 1px;
@screen-md: 960px;
@screen-gt-md: @screen-md + 1px;
@screen-lg: 1200px;
@screen-gt-lg: @screen-lg + 1px;

html {
  height: 100%;
}

body {
  height: 100%;
  overflow-x: hidden;
  margin: 0;
  color: @text;
  font-family: RobotoDraft, Roboto, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizelegibility;
  
  .min-width(@screen-gt-sm, {
    background-color: darken(#fff, 6%);
  });
}

scroll, [scroll] {
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

.overflow-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

toolbar.collapse {
  transition: margin-top 0.35s;
}

@import "backdrop";
@import "layout";
@import "left-drawer";
@import "media-player";
@import "pages";
@import "responsive";
@import "scoreboard";
@import "view";

// components
@import "components/button";
@import "components/card";
@import "components/dialog";
@import "components/drawer";
@import "components/icon";
@import "components/ink";
@import "components/list";
@import "components/progress-linear";
@import "components/toolbar";

// mixins
@import "mixins/elevation";
@import "mixins/media-queries";