// color palet
@lighter : #B3E5FC;
@light   : #4FC3F7;
@primary : #03A9F4;
@dark    : #0288D1;
@darker  : #01579B;

// gray scale
@divider: rgba(0, 0, 0, 0.12);
@disabled: rgba(0, 0, 0, 0.26);
@secondary-text: rgba(0, 0, 0, 0.54);
@text: rgba(0, 0, 0, 0.87);

// media sizes
@screen-sm: 600px;
@screen-gt-sm: @screen-sm + 1px;
@screen-md: 960px;
@screen-lg: 1200px;

html {
  height: 100%;
}

body {
  height: 100%;
  overflow-x: hidden;
  margin: 0;
  color: @text;
  font-family: RobotoDraft, Roboto, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizelegibility;
  
  .min-width(@screen-gt-sm, {
    background-color: darken(#fff, 6%);
  });
}

a {
  color: @text;
  text-decoration: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  
  &[no-ink] {
    color: @dark;
    
    &:hover {
      color: @darker;
    }
  }
}

[ng-view] {
  z-index: 0 !important;
  
  .min-width(@screen-gt-sm, {
    margin: 32px auto;
    max-width: 75%;
  });
}

scroll, [scroll] {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.welcome {
  font-weight: 300;
  color: @primary;
  
  .min-width(@screen-gt-sm, {
    margin-top: 24px;
    margin-bottom: 48px;
    font-size: 42px;
  });
  
  .max-width(@screen-sm, {
    font-size: 32px;
    margin-top: 8px;
    margin-bottom: 24px;
  });
}

section {

  .heading {
    font-size: 28px;
    font-weight: 300;
  }
  
  img.raise {
    .elevate();
  }
  
  & + & {
    border-top: 1px @divider solid;
  }
  
  .min-width(@screen-gt-sm, {
    img {
      max-width: 75%;
      margin: 32px 0;
    }
    
    & + & {
      margin-top: 64px;
      padding-top: 64px;
    }
    
    &:first-of-type {
      margin-top: 32px;
    }
    
    &:last-of-type {
      margin-bottom: 32px;
    }
  });
  
  .max-width(@screen-sm, {
    img {
      max-width: 100%;
      margin: 16px 0;
    }
    
    & + & {
      margin-top: 32px;
      padding-top: 32px;
    }
    
    &:first-of-type {
      margin-top: 16px;
    }
    
    &:last-of-type {
      margin-bottom: 16px;
    }
  });
}

.collapse {
  transition: margin-top 0.35s;
}

@import "backdrop";
@import "layout";
@import "left-drawer";
@import "responsive";

// components
@import "components/button";
@import "components/card";
@import "components/drawer";
@import "components/icon";
@import "components/ink";
@import "components/list";
@import "components/toolbar";

// mixins
@import "mixins/elevation";
@import "mixins/media-queries";