[ng-view] {
  width: 100%;
  max-width: 896px;
  
  > * {
    max-width: 896px;
    margin: 32px;
  }
  
  .max-width(@screen-sm, {
    > *:not(card) {
      margin: 16px;
    }
    
    > card {
      margin: 0;
      border-radius: 0;
      box-shadow: none;
    }
  });
}