button {
  background: none;
  border: none;
  border-radius: 2px;
  outline: 0;
  font-family: inherit;
  font-size: 14px;
  font-weight: 500;
  color: inherit;
  text-transform: uppercase;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  
  &:not(.icon) {
    margin: 0 4px;
    padding: 10px 8px;
  }
  
  &.icon {
    padding: 0;
  }
  
  &::-moz-focus-inner {
    padding: 0;
    border: 0;
  }
  
  &:hover {
    cursor: pointer;
  }
  
  &[disabled] {
    color: @disabled !important;
    cursor: default;
  }
  
  &.primary {
    color: @dark;
  }
}