button {
  background: none;
  border: none;
  border-radius: 2px;
  outline: 0;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  
  &:not([icon]):not(.icon) {
    margin: 0 4px;
    padding: 10px 8px;
  }
  
  &.icon {
    padding: 0;
    
    &.more_vert > i {
      padding: 12px 6px;
    }
  }
  
  &::-moz-focus-inner {
    padding: 0;
    border: 0
  }
  
  &:hover {
    cursor: pointer;
  }
  
  &[disabled] {
    color: @disabled !important;
    cursor: not-allowed;
  }
  
  &.primary {
    color: @dark;
  }
}

a {
  color: @text;
  text-decoration: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;

  &[no-ink] {
    color: @dark;
    
    &:hover {
      color: @darker;
      cursor: pointer;
    }
  }
  
  &:not([no-ink]):not([icon]):not([item]) {
    margin: 0 4px;
    padding: 10px 8px;
    
    &.primary {
      color: @dark;
    }
  }
}