button {
  background: none;
  border: none;
  outline: 0;
  -webkit-tap-highlight-color: transparent;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  
  &:not([icon]) {
    margin: 0 4px;
    padding: 10px 8px;
  }
  
  &::-moz-focus-inner {
    padding: 0;
    border: 0
  }
  
  &:hover {
    cursor: pointer;
  }
}