@keyframes enter {
  from {
    opacity: 0.0;
    transform: scale(0.5);
  }
}

@keyframes leave {
  to {
    opacity: 0.0;
    transform: scale(0.5);
  }
}

dialog-container {
  position: absolute;
  top: 0; right: 0;
  bottom: 0; left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
  -webkit-tap-highlight-color: transparent;

  &.ng-leave {
    animation: leave 0.35s ease-in-out;
  }
  
  &.ng-enter {
    animation: enter 0.35s ease-in-out;
  }

  material-dialog {
    display: flex;
    flex-direction: column;
    min-width: 280px;
    max-width: 90%;
    max-height: 90%;
    background-color: #fff;
    border-radius: 2px;
    
    .elevate(3);
    
    .title {
      flex: 0 0 auto;
      padding: 24px;
      font-size: 20px;
      font-weight: 500;
    }
    
    scroll {
      padding: 0 24px 16px;
      color: @secondary-text;
      line-height: 1.5;
    }
    
    action {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      flex: 0 0 auto;
      padding: 5px 16px;
      margin-bottom: 8px;
    }
  }
}