drawer {
  position: absolute;
  top: 0; bottom: 0;
  min-height: 100%;
  min-width: 264px;
  background-color: #fff;
  .elevate(2);
  
  &.locked {
    position: static;
  }
  
  &#left {
    left: 0;
    transition: margin-left 0.35s;
  }
  
  &#right {
    right: 0;
    transition: margin-right 0.35s;
  }
}