toolbar {
  display: flex;
  position: relative;
  
  tools {
    display: flex;
    align-items: center;
    padding: 0 16px;
    font-size: 20px;
    
    :not(.title) {
      font-weight: 500;
    }
    
    .title {
      margin-left: 20px;
    }
  }
  
  &.elevate {
    .elevate();
  }
  
  > tabs {
    border-radius: 0;
  }
  
  &.primary {
    color: #fff;
    background-color: @primary;
    
    i {
      color: #fff;
    }
    
    > tabs {
      > tab {
        color: #fff;
      }
      > indicator {
        background-color: #fff;
      }
    }
  }
  
  .min-width(@screen-gt-sm, {
    min-height: 64px;
    
    tools {
      min-height: inherit;
      
      button:first-child {
        margin-left: -4px;
      }
      
      button:last-child {
        margin-right: -4px;
      }
      
      .title {
        font-size: 24px;
      }
    }
  });
  
  .max-width(@screen-sm, {
    min-height: 56px;
    
    tools {
      min-height: inherit;
    }
    
    button:first-child {
      margin-left: -12px;
    }
    
    button:last-child {
      margin-right: -12px;
    }
    
    .title {
      font-size: 20px;
    }
  });
}