toolbar {
  display: flex;
  align-items: center;
  
  .elevate();
  
  &[primary] {
    color: #fff;
    background-color: @primary;
  }
  
  .title {
    margin-left: 20px;
  }
  
  .min-width(@screen-gt-sm, {
    min-height: 64px;
    padding: 0 12px;
    
    .title {
      font-size: 24px;
    }
  });
  
  .max-width(@screen-sm, {
    min-height: 56px;
    padding: 0 4px;
    
    .title {
      font-size: 20px;
    }
  });
}