<div class="lead">Hi, Welcome To My Blog!</div>

<section>
  <div class="date">
    <icon src="icons/today.svg"></icon>
    <div>April 4</div>
  </div>
  <div class="heading">About Me</div>
  <p>My Name is Daniel Nagy. I'm a software engineer at Ohio University. I think of writing software as both a mathematical and artistic discipline. I have an obsession with beauty and symmetry. My creative mentality makes me somewhat unique in the field of computer science. I believe the success of most software is directly related to user experience. In my opinion software should be something that is both visually and emotionally stimulating.</p>
</section>

<section>
  <div class="date">
    <icon src="icons/today.svg"></icon>
    <div>April 4</div>
  </div>
  <div class="heading">Education</div>
  <p>I am a fourth year senior at Ohio University. I will be graduating fall semester 2015 with a Bachelors of Science in Computer Science. If you believe I am a good candidate for you business please see my professional page for more information on my career interests and to obtain a copy of my resume.</p>
</section>

<section>
  <div class="date">
    <icon src="icons/today.svg"></icon>
    <div>April 4</div>
  </div>
  <div class="heading">What Framework Are You Using?</div>
  <p>I am using a combination of AngularJS and my own Material Design creations. I'm a fan of Google's Material Design. I've been following the specifications from their official documentation which can be found <a no-ink href="http://www.google.com/design/spec/material-design/introduction.html" target="_blank">here</a>.</p>
  
  <h4>Why not use Angular Material?</h4>
  
  <p>I'm using <a no-ink href="https://github.com/angular/material" target="_blank">Angular Material</a> for other projects I'm working on however my experience with it so far hasn't been the best. I'm excited to see it mature though.</p>
</section>

<section>
  <div class="date">
    <icon src="icons/today.svg"></icon>
    <div>April 12</div>
  </div>
  <div class="heading">Music</div>
  <p>I love music! Then again, who doesn't?</p>

  <h4>Private Tracker</h4>

  <p>I have a What.CD invite if anyone is interested. I'm looking to trade for a BTN or PTP invite.</p>

  <h4>This Week's Featured Album</h4>

  <media-player collection-id="603542914"></media-player>

  <p>This week's album is <b>Among the Wildest Things</b> by <b>Noah Guthrie</b>, a singer-songwriter from South Carolina. Noah is most known for performing covers of contemporary pop songs on his YouTube channel <a no-ink href="https://www.youtube.com/user/only1noah" target="_blank">only1noah</a>. Some of my favorite tracks from this album include: Be With You, Closer, Can't Move On, My Favorite Kind, New Beginning, Patchwork Lover, and Adore. This is a beautiful album, I hope you enjoy it!</p>

  <p>Check it out on <a no-ink href="https://itunes.apple.com/us/album/among-the-wildest-things/id674825132" target="_blank">iTunes.</a></p>
</section>

<section>
  <div class="date">
    <icon src="icons/today.svg"></icon>
    <div>April 16</div>
  </div>
  <div class="heading">Intramural</div>
  
  <p>Intramural has ended. Before the start of our final game we were penalized two goals for players being late. Otherwise we would of won.</p>
  
  <card class="scoreboard">
    
    <header>
      <div class="team-name">The Wombats (3-1-0)</div>
      <div class="secondary">Men's Recreational 11v11 Soccer</div>
    </header>
    
    <cell>
      <div class="home">
        <div class="team">Hammerheadz</div>
        <div class="secondary">Home</div>
      </div>
      <div class="score">
        <div>W</div>
        <div class="secondary">0-13</div>
      </div>
      <div class="away">
        <div class="team">Wombats</div>
        <div class="secondary">Away</div>
      </div>
    </cell>
    
    <cell>
      <div class="home">
        <div class="team">Wombats</div>
        <div class="secondary">Home</div>
      </div>
      <div class="score">
        <div>W</div>
        <div class="secondary">2-0</div>
      </div>
      <div class="away">
        <div class="team">A SMOcer Team</div>
        <div class="secondary">Away</div>
      </div>
    </cell>
    
    <cell>
      <div class="home">
        <div class="team">Theta Chi</div>
        <div class="secondary">Home</div>
      </div>
      <div class="score">
        <div>W</div>
        <div class="secondary">1-4</div>
      </div>
      <div class="away">
        <div class="team">Wombats</div>
        <div class="secondary">Away</div>
      </div>
    </cell>
    
    <cell>
      <div class="home">
        <div class="team">Wombats</div>
        <div class="secondary">Home</div>
      </div>
      <div class="score">
        <div>V.S.</div>
        <div class="secondary">Canceled</div>
      </div>
      <div class="away">
        <div class="team">Hammerheadz</div>
        <div class="secondary">Away</div>
      </div>
    </cell>
    
    <cell>
      <div class="home">
        <div class="team">A SMOcer Team</div>
        <div class="secondary">Home</div>
      </div>
      <div class="score">
        <div>L</div>
        <div class="secondary">3-2</div>
      </div>
      <div class="away">
        <div class="team">Wombats</div>
        <div class="secondary">Away</div>
      </div>
    </cell>
    
  </card>
</section>
