<section>
  <div class="heading">Career Interests</div>
  <div class="date">May 17, 2015</div>
  <p>I receive more satisfaction writing software when there is some visual experience manufactured from it. With that said, however, I do not have the experience to create a list of careers that I would or would not be interested in. I believe web or mobile development is something I would really enjoy. In addition, I would love to be a member of a team working on something new and exciting. If I am inspired, I can be very creative.</p>
</section>

<section>
  <div class="heading">Current Employment</div>
  <div class="date">May 17, 2015</div>
  <p>I work part-time as an intern for the Office of Information Technology in the Custom Applications Department. We build web applications for clients affiliated with the University. For example, AFG is an application in production, that I have contributed code to, that allows students to apply for graduation. Our web technologies consist of SQL, Grails, and AngularJS. My current assignment is to build an administrative interface for our architecture.</p>
</section>

<section ng-controller="ResumeController">
  <div class="heading">Interview Me</div>
  <div class="date">May 17, 2015</div>
  <p>I would be delighted to do an interview. I will be graduating, from Ohio University, on December 12, 2015. I will be available for employment immediately proceeding that date. In addition, I have no problem with traveling; I just hope it is somewhere warm. My contact information is available in the right drawer. I prefer to be contacted by phone or my personal email.</p>
  <p>Check out my <a class="primary" ng-click="showResume()">resume</a>.</p>
</section>