<div class="lead">Projects I've Done</div>

<section layout="column">
  <div class="heading">iCarrier</div>
  <p>IOS may be the reason why I chose to be a computer science major. My first iPhone was the 3GS. I became obsessed with Jailbreaking and playing with the interface and system sounds. At the time I knew nothing about computers and reading code was like trying to read a foreign language. Looking back now I give myself some admiration for being able to write a piece of JavaScript that could make an Ajax request to Yahoo's weather API and then parse the JSON response having, admittedly, no idea what the hell I was doing.</p>
  <p>Anyways, I always wanted to write my own iPhone tweak and have it be available in Cydia for all to enjoy but at the time I didn't have the programming knowledge to pull it off. After my first year of college, and some coding experience, I decided I was finally going to make it happen. The result was iCarrier. Unfortunately it's not in the Cydia store. I made a request but was denied because it was too similar to other tweaks that were already available. However you can still check it out on my GitHub page. I had some fun with iCarrier and I still use it on my device today.</p>
  <img flex align-self="center" class="raise" src="/media/iCarrier.png"></div>
</section>

<section layout="column">
  <div class="heading">My Album Collection</div>
  <p>My Album Collection is a project I did when I was first hired as an intern by the University. I was still pretty new to web development and it was my first experience with AngularJS. I chose to do an album collection because I knew I could do some neat things visually with artists, genres, album artwork etc. I put together most of the UI using Twitter's Bootstrap. Source code for My Album Collection can be found on my GitHub page.</p>
  <img flex align-self="center" src="/media/album-collection.png"></div>
</section>

<section layout="column">
  <div class="heading">Ohio UI</div>
  <p>Ohio UI is an interface library I developed for the University's Custom Applications Department. The goal of Ohio UI is to provide an API for reusable interface components that is injectable into many applications. The benefits of this include: less duplication of code, faster client side development, consistency across multiple applications, and so on. Unfortunately I'm just one man and cross-browser compatibility became a nightmare, I'm looking at you Internet Explorer. Ohio UI is still in production and some of the full time developers have contributed to the project. Recently my boss and I have come to the agreement that we like Material Design and are considering officially adopting Angular Material as our interface library. I can't reveal any code for Ohio UI because it is intellectual property of Ohio University.</p>
</section>

<section layout="column">
  <div class="heading">Material Design</div>
  <p>I've been experimenting with creating my own material design components. This blog is a display of that effort. I'm creating and extending features as needed. I don't know how far I'll take this project. If it continues to grow, or if anyone is interested in using or contributing to my code, I'll put together an official project and make it installable using Bower. The source code for this bog is available on my GitHub page.</p>
</section>