<section>
  <div class="heading">Music</div>
  <div class="date">May 17, 2015</div>
  <p>
    I believe there is a common consensus that music is one of mankind's greatest creations. Personally speaking, I feel a world without music would be deficient. That is why I made it a priority, for this blog, to share some of my favorite music with you. Every month I will share an album or playlist with songs that I really enjoy. Considering the diversity of music that exists, I can not say any particular artist or genre is my favorite. One thing I will say is, good music is good independent of the genre. In addition, I would argue good music does not depreciate with age.
  </p>

  <h4 class="subsection">Private Tracker</h4>

  <p>
    I have a What.CD invite that I would like to trade for a BTN or PTP invite. I would also be willing to award it to someone who is truly passionate about music. If you would like to receive an invite, be prepared to pass a short interview first. The interview will consist of questions about sound quality and audio compression. In addition, there will be a few question about uploading rules. The best way to prepare for the interview is to read the official What.CD <a class="primary" href="https://www.whatinterviewprep.com" target="_blank">interview preparation</a>. You may interview more than once if you do not pass your first interview.
  </p>

  <h4 class="subsection">This Month's Featured Album</h4>
  
  <media-player rounded collection-id="739472196"></media-player>

  <p>
    The World from the Side of the Moon is the first studio album by singer-songwriter, and American Idol winner, Phillip Phillips.
  </p>
  
  <p>
    Check it out on <a class="primary" href="https://itunes.apple.com/us/album/world-from-side-moon/id739472196" target="_blank">iTunes.</a>
  </p>
</section>

<section>
  <div class="heading">Intramural</div>
  <div class="date">May 17, 2015</div>
  
  <p>I play intramural soccer. Last semester I played in the men's recreational league. Our team name was The Wombats from Backyard Sports.</p>

  <card class="scoreboard">

    <header>
      <div class="team-name">The Wombats (3-1-0)</div>
      <div class="secondary">Men's Recreational 11v11 Soccer</div>
    </header>

    <cell>
      <div class="home">
        <div class="team">Hammerheadz</div>
        <div class="secondary">Home</div>
      </div>
      <div class="score">
        <div>W</div>
        <div class="secondary">0-13</div>
      </div>
      <div class="away">
        <div class="team">Wombats</div>
        <div class="secondary">Away</div>
      </div>
    </cell>

    <cell>
      <div class="home">
        <div class="team">Wombats</div>
        <div class="secondary">Home</div>
      </div>
      <div class="score">
        <div>W</div>
        <div class="secondary">2-0</div>
      </div>
      <div class="away">
        <div class="team">A SMOcer Team</div>
        <div class="secondary">Away</div>
      </div>
    </cell>

    <cell>
      <div class="home">
        <div class="team">Theta Chi</div>
        <div class="secondary">Home</div>
      </div>
      <div class="score">
        <div>W</div>
        <div class="secondary">1-4</div>
      </div>
      <div class="away">
        <div class="team">Wombats</div>
        <div class="secondary">Away</div>
      </div>
    </cell>

    <cell>
      <div class="home">
        <div class="team">Wombats</div>
        <div class="secondary">Home</div>
      </div>
      <div class="score">
        <div>V.S.</div>
        <div class="secondary">Canceled</div>
      </div>
      <div class="away">
        <div class="team">Hammerheadz</div>
        <div class="secondary">Away</div>
      </div>
    </cell>

    <cell>
      <div class="home">
        <div class="team">A SMOcer Team</div>
        <div class="secondary">Home</div>
      </div>
      <div class="score">
        <div>L</div>
        <div class="secondary">3-2</div>
      </div>
      <div class="away">
        <div class="team">Wombats</div>
        <div class="secondary">Away</div>
      </div>
    </cell>
    
  </card>
</section>