<profile flex>
  <img src="media/profile.jpg">
  <div class="name">Daniel Nagy</div>
</profile>

<scroll flex shrink="1">

  <list icon-list>
    <a ripple ink-color="#4FC3F7" item ng-class="{active: title === 'About Me'}" href="#about">
      <i class="material-icons">person</i>
      <content>
        <div>About Me</div>
      </content>
    </a>
    <a ripple ink-color="#4FC3F7" item ng-class="{active: title === 'Unprofessional'}" href="#unprofessional">
      <i class="material-icons">local_bar</i>
      <content>
        <div>Unprofessional</div>
      </content>
    </a>
    <!-- <a ripple ink-color="#4FC3F7" item ng-class="{active: title === 'Blog Posts'}" href="#blog-posts">
      <i class="material-icons">description</i>
      <content>
        <div>Blog Posts</div>
      </content>
    </a> -->
    <a ripple ink-color="#4FC3F7" item ng-class="{active: title === 'Projects'}" href="#projects">
      <i class="material-icons">content_cut</i>
      <content>
        <div>Projects</div>
      </content>
    </a>
    <a ripple ink-color="#4FC3F7" item ng-class="{active: title === 'Professional'}" href="#professional">
      <i class="material-icons">work</i>
      <content>
        <div>Professional</div>
      </content>
    </a>
  </list>
  
</scroll>