<paper>
  
  <img ng-src="{{album.artworkUrl}}"></img>
  
  <media-toolbar>
    
    <div class="now-playing">
      <div class="track-title">{{album.currentTrack().title}}</div>
      <div class="duration">{{currentTime | playBack}}</div>
    </div>
    
    <media-controls>
      <div>
        <button class="icon" ng-disabled="!album.hasPreviousTrack()" ng-click="selectPrevious()">
          <i class="material-icons">skip_previous</i>
        </button>
        <button class="icon" ng-click="audio.isPlaying() ? audio.pause() : audio.play()">
          <i class="material-icons">{{audio.isPlaying() ? 'pause_arrow' : 'play_arrow'}}</i>
        </button>
        <button class="icon" ng-disabled="!album.hasNextTrack()" ng-click="selectNext()">
          <i class="material-icons">skip_next</i>
        </button>
      </div>
      <div>
        <button class="icon" ng-click="toggleShuffle()" ng-class="{active: album.isShuffled()}">
          <i class="material-icons">shuffle</i>
        </button>
        <button class="icon" ng-click="toggleRepeat()" ng-class="{active: audio.repeatEnabled()}">
          <i class="material-icons">repeat</i>
        </button>
      </div>
    </media-controls>
    
    <progress-linear ng-attr-indeterminate="{{loading}}" max="{{duration}}" value="{{currentTime}}" buffered="{{audio.buffered()}}"></progress-linear>
    
  </media-toolbar>
  
</paper>

<paper>
  
  <media-toolbar>
    
    <info>
      <div class="title">{{album.title}}</div>
      <div class="artist">{{album.artist}} &middot; {{album.release}}</div>
    </info>
    
    <button class="icon" ng-click="showTracks = !showTracks">
      <i class="material-icons">more_vert</i>
    </button>
    
  </media-toolbar>
  
  
  <scroll ng-show="showTracks">
    <tracks>
      <div class="track" ripple ink-color="#4FC3F7" ng-repeat="track in album.tracks" ng-click="selectTrack(track, $index)">
        <div class="number">{{track.number | zeroPad}}</div>
        <div class="title-container">
          <div class="track-title">{{track.title}}</div>
          <i class="material-icons md-18" ng-if="album._current === $index">{{audio.isPlaying() ? 'volume_up' : 'volume_mute'}}</i>
        </div>
        <div class="duration">{{track.duration | playBack}}</div>
      </div>
    </tracks>
  </scroll>
  
</paper>