<toolbar class="collapse primary elevate" ng-if="showToolbar">
  <tools>
    <button class="icon" ng-click="closeDrawer()"><i class="material-icons">close</i></button>
    <div class="title">More Info</div>
  </tools>
</toolbar>

<scroll flex shrink="1">
  
  <list icon-list separate>
    <div class="title">Get At Me</div>
    <item separate>
      <i class="material-icons align-middle">place</i>
      <content>
        <div>Ohio University</div>
        <div>Athens Ohio</div>
      </content>
    </item>
    <item separate>
      <i class="material-icons align-middle">phone</i>
      <content>
        <div>(419) 602-1585</div>
        <div>Mobile</div>
      </content>
    </item>
    <item>
      <i class="material-icons align-middle">mail</i>
      <content>
        <div>daniel_nagy@me.com</div>
        <div>Personal</div>
      </content>
    </item>
    <item separate>
      <content>
        <div>dn686910@ohio.edu</div>
        <div>School</div>
      </content>
    </item>
  </list>
  
  <list icon-list separate>
    <div class="title">Find Me On</div>
    <a ripple ink-color="#4FC3F7" item separate ng-href="https://github.com/daniel-nagy" target="_blank">
      <i class="material-icons align-middle">share</i>
      <content>
        <div>GitHub</div>
        <div>Social Coding</div>
      </content>
    </a>
    <a ripple ink-color="#4FC3F7" item separate ng-href="https://www.linkedin.com/pub/daniel-nagy/aa/b00/bab" target="_blank">
      <i class="material-icons align-middle">work</i>
      <content>
        <div>LinkedIn</div>
        <div>Professional Networking</div>
      </content>
    </a>
    <a ripple ink-color="#4FC3F7" item separate ng-href="https://twitter.com/danielnagy13" target="_blank">
      <i class="material-icons align-middle">chat</i>
      <content>
        <div>Twitter</div>
        <div>@danielnagy13</div>
      </content>
    </a>
  </list>
  
</scroll>