<profile flex>
  <img src="media/profile.jpg">
  <div class="name">Daniel Nagy</div>
</profile>

<scroll>

  <list icon-list>
    <a ink-color="#B3E5FC" item ng-class="{active: title === 'About Me'}" href="#about">
      <icon src="icons/person.svg"></icon>
      <content>
        <div>About Me</div>
      </content>
    </a>
    <a ink-color="#B3E5FC" item ng-class="{active: title === 'Projects'}" href="#projects">
      <icon src="icons/scissors.svg"></icon>
      <content>
        <div>Projects</div>
      </content>
    </a>
    <a ink-color="#B3E5FC" item ng-class="{active: title === 'Professional'}" href="#professional">
      <icon src="icons/briefcase.svg"></icon>
      <content>
        <div>Professional</div>
      </content>
    </a>
  </list>
  
</scroll>