<paper>
  
  <img ng-src="{{album.artworkUrl600}}"></img>
  
  <media-toolbar class="primary">
    
    <div class="now-playing">
      <div class="track-title">{{activeTrack.title}}</div>
      <div class="duration">{{currentTime | playBack}}</div>
    </div>
    
    <media-controls>
      <div>
        <button icon src="icons/previous.svg" disabled></button>
        <button icon src="{{playing ? 'icons/pause.svg' : 'icons/play.svg'}}" ng-click="playing ? pause() : play()"></button>
        <!-- <button icon src="icons/pause.svg" ng-if="playing" ng-click="pause()"></button> -->
        <button icon src="icons/next.svg"></button>
      </div>
      <div>
        <button icon src="icons/shuffle.svg" ng-click="toggleShuffle()" ng-class="{active: shuffle}"></button>
        <button icon src="icons/repeat.svg" ng-click="toggleRepeat()" ng-class="{active: repeat}"></button>
      </div>
    </media-controls>
    
    <progress></progress>
    
  </media-toolbar>
  
</paper>

<paper>
  
  <media-toolbar>
    
    <info>
      <div class="title">{{album.collectionName}}</div>
      <div class="artist">{{album.artistName}} &middot; 2014</div>
    </info>
    
    <media-controls>
      <button icon src="icons/more-vertical.svg" ng-if="media.matches" ng-click="toggle.tracks()"></button>
    </media-controls>
    
  </media-toolbar>
  
  
  <scroll ng-show="showTracks || !media.matches">
    <tracks>
      <div class="track" ripple ink-color="#B3E5FC" ng-repeat="track in tracks" ng-click="selectTrack(track)">
        <div class="number">{{track.number}}</div>
        <div class="track-title">{{track.title}}</div>
        <div class="duration">{{track.duration}}</div>
      </div>
    </tracks>
  </scroll>
  
</paper>