<section layout="column">
  <div class="heading">Career Interests</div>
  <div class="date">April 4, 2015</div>
  <p>I'm open to a variety of career opportunities. Web development is obviously something I'm interested in. Mobile development is another thing I think I would enjoy, at least on IOS or Android. I always thought my dream job would be working for Apple developing IOS but now I think I'd rather work for Google. My only concern with location is I really don't want to live somewhere cold. I'm eager to finally get out of Ohio. I would be willing to move to where needed otherwise, even out of the country.</p>
</section>

<section layout="column">
  <div class="heading">Current Employment</div>
  <div class="date">April 4, 2015</div>
  <p>Currently I work part time as an intern for the Office of Information Technology in the Custom Applications Department. We build web applications for clients affiliated with the University. For example, AFG is an application in production that I contributed code to that allows students to apply for graduation. We use AngularJS for the front-end and Grails for the backend. I've written some Groovy but I mostly work on the client side of things.</p>
</section>

<section layout="column" ng-controller="ResumeController">
  <div class="heading">Interview Me</div>
  <div class="date">April 4, 2015</div>
  <p>I would be happy to be asked to do an interview! I will be graduating in December of 2015. If I could have a job lined up before then that would be great. I'm also interested in doing an internship this summer so ask me to interview for internships as well. You can find my contact information in the right drawer. Be aware I'm pretty busy and may not always be able to answer my phone. I prefer my personal email over my  school email as well.</p>
  
  <p>Check out my <a no-ink ng-click="showResume()">resume</a>.</p>
</section>