<section>
  <div class="heading">Career Interests</div>
  <div class="date">May 10, 2015</div>
  <p>
    I have some experience with web development. As a web developer I would prefer to work with modern web
    technologies. For example, a MEAN stack. I'm not interested in maintaining older applications. In addition
    to web development, I think I would enjoy mobile development. Working on a mobile platform would be a new
    experience for me. I wouldn't mind learning Swift and writing some IOS applications. Furthermore, I would
    love to be a member of a team doing something new and exciting.
  </p>
</section>

<section>
  <div class="heading">Current Employment</div>
  <div class="date">May 10, 2015</div>
  <p>
    Currently I work part-time as an intern for the Office of Information Technology in the Custom Applications
    Department. We build applications for clients affiliated with the University. For example, AFG is an
    application in production that I've contributed code to that allows students to apply for graduation. We use
    SQL, AngularJS, and Grails. I've written some Groovy, but I work mostly as a front-end developer.
  </p>
</section>

<section ng-controller="ResumeController">
  <div class="heading">Interview Me</div>
  <div class="date">May 10, 2015</div>
  <p>
    I would be happy to be asked to do an interview! I will be graduating December 12, 2015. If I had a job lined
    up before graduation that would relieve a lot of anxiety. My contact information is available in the right drawer.
    Be aware I'm pretty busy and may not always be able to answer my phone. I prefer my personal email over my school
    email as well.
  </p>
  
  <p>Check out my <a no-ink ng-click="showResume()">resume</a>.</p>
</section>