<section layout="column">
  <div class="heading">iCarrier</div>
  <div class="date">May 16, 2015</div>
  <p>iCarrier is a Mobile Substrate add-on for the iPhone, or iPad, that allows the user to change their device’s carrier name. My passion for iOS began my junior year of high-school when I received my first iPhone; the iPhone 3GS. I become obsessed with jailbreaking and modify the interface and system sounds. Nothing was more exciting than replacing that solid black background with pictures of half naked women, or changing your ringtone to some offensive rap song.</p>
  <p>These cosmetic changes, however, were not enough to satisfy me. I was naive and wanted desperately to understand how to create my own tweaks. Perhaps influenced by this desire, I decided to pursue a degree in computer science. I soon became distracted, though, with partying and women. Fast-forward two years to a more mature, and wise, version of myself and my focus began to return. I decided, as a tribute to my teenage self, I would finally write an iOS tweak and publish it in Cydia. As a result, I developed iCarrier.</p>
  <p>Unfortunately, iCarrier is not available in the Cydia store. It was politely refused because tweaks performing the same functionality were already available. The source code for iCarrier can be found on my GitHub page. In addition, documentation for installing iCarrier without Cydia is available. I am still using the iPhone 4, so I do not know if it is compatible with the iPhone 6 or iOS 8.</p>
  <img flex align-self="center" class="raise" src="/media/iCarrier.png"></div>
</section>

<section layout="column">
  <div class="heading">My Album Collection</div>
  <div class="date">May 16, 2015</div>
  <p>My Album Collection is a web application I developed when I was hired, as an intern, by Ohio University. This project was intended to be a learning experience for me, but soon it became an obsession of mine. The visual abstraction of data was a million times more satisfying than the command-line applications I was writing in my classes. The server was written in Groovy using Grails, and the client was written in javascript using AngularJS. In addition, I used Bootstrap as a starting point for my interface. The source code for My Album Collection is available on my GitHub page.</p>
  <img flex align-self="center" src="/media/album-collection.png"></div>
</section>

<section>
  <div class="heading">Ohio UI</div>
  <div class="date">May 16, 2015</div>
  <p>Ohio UI is an interface library I developed for the Custom Applications Department. Ohio UI was designed to provide an API for reusable components that could be injected into multiple applications. For example, I wrote an alert manager service that made it effortless for developers to display Bootstrap alerts. The service allowed developers to attach alerts to a designated element, or to display the alerts in one of the four corners of the window. In addition, alerts could be configured to allow the user to dismiss them, or to dismiss automatically after a specified duration. Once open, alerts would return a promise that would resolve upon close.</p>
  <p>Ohio UI is still in production; however, I no longer actively develop this project. My boss and I have agreed to move away from Bootstrap and to begin experimenting with Material Design. The consensus is to adopt Angular Material as our interface library.</p>
</section>

<section>
  <div class="heading">Material Design</div>
  <div class="date">May 16, 2015</div>
  <p>I have been developing my own material design components. I am doing this mostly out of my frustration with Angular Material. As of writing this, I have found inconsistencies with their components and the documentation for Material Design. For example, margins and font-sizes on some of their components are inaccurate. These aspects are crucial to the visual appeal of Material Design. Google has provided exceptional documentation explicitly describing these features.</p>
</section>