<section layout="column">
  <div class="heading">iCarrier</div>
  <div class="date">May 17, 2015</div>
  <p>iCarrier is a Mobile Substrate add-on for the iPhone or iPad that allows the user to change their device’s carrier name. My passion for iOS began my junior year of high-school when I received my first iPhone, the iPhone 3GS. I become obsessed with jailbreaking and modify the interface and system sounds. Nothing was more exciting than replacing that solid black background with pictures of half naked women, or changing your ringtone to some offensive rap song.</p>
  <p>These cosmetic changes, however, were not enough to satisfy me. I was naive and wanted desperately to understand how to create my own tweaks. Perhaps influenced by this desire, I decided to pursue a degree in computer science. I soon became distracted, though, by the opportunities that present themselves to a young college student. Fast-forward two years, to a more mature and wise version of myself, and my focus began to return. I decided, as a tribute to my teenage self, I would finally write an iOS tweak and publish it in Cydia. As a result, I developed iCarrier.</p>
  <p>Unfortunately, iCarrier is not available in the Cydia store. It was politely declined for not offering new functionality to what already existed; although I believe my solution was more elegant. The source code for iCarrier can be found on my GitHub page. In addition, documentation for installing iCarrier without Cydia is available. I am still using the iPhone 4, therefore I do not know if it is compatible with the iPhone 6 or iOS 8.</p>
  <img flex align-self="center" class="raise" src="/media/iCarrier.png"></div>
</section>

<section layout="column">
  <div class="heading">My Album Collection</div>
  <div class="date">May 17, 2015</div>
  <p>My Album Collection is a web application I developed when I was hired as an intern by Ohio University. This project was intended to be a learning experience for me; however, soon it became an obsession of mine. The creation of a user interface, and the visual abstraction of data, was a million times more satisfying than the command-line applications I was writing for my classes. I am very artistically minded for a software engineer. I was absolutely enamored when I found an environment for me to be creative with software.</p>
  <img flex align-self="center" src="/media/album-collection.png"></div>
</section>

<section>
  <div class="heading">Ohio UI</div>
  <div class="date">May 17, 2015</div>
  <p>Ohio UI is an interface library I developed for the Custom Applications Department. It is an Angular module designed to provide an API for reusable components. For example, I wrote an alert manager service that made it effortless for developers to configure and display Bootstrap alerts. Ohio UI is still in production; however, I no longer actively develop this project. My boss and I have turned our attention away from Bootstrap and towards Material Design. The consensus is to adopt <a class="primary" href="https://material.angularjs.org/" target="_blank">Angular Material</a> as our interface library once it matures.</p>
</section>

<section>
  <div class="heading">Material Design</div>
  <div class="date">May 17, 2015</div>
  <p><a class="primary" href="http://www.google.com/design/spec/material-design/introduction.html" target="_blank">Material Design</a> is a visual language developed by Google. For fun, and due to my frustration with Angular Material, I have decided to create my own Material Design components. There are no third party libraries at play here. I have built this site from the ground up using only AngularJS. I develop this blog in my leisure, and therefore only design components as I desire and do not put careful consideration into reusability or browser support. I do, however, try to support the latest two version of all major browsers, including IE 10. In addition, I am considering extracting the Material Design components I have written into a separate module and sharing them on my GitHub page.</p>
</section>