<toolbar primary class="collapse" ng-if="showToolbar">
  <button icon src="icons/close.svg" ng-click="closeDrawer()"></button>
  <div class="title">More Info</div>
</toolbar>

<scroll>
  
  <list icon-list separate>
    <div class="title">Get At Me</div>
    <item separate>
      <icon src="icons/place.svg"></icon>
      <content>
        <div>Ohio University</div>
        <div>Athens Ohio</div>
      </content>
    </item>
    <item separate>
      <icon src="icons/phone.svg"></icon>
      <content>
        <div>(419) 602-1585</div>
        <div>Mobile</div>
      </content>
    </item>
    <item>
      <icon src="icons/mail.svg"></icon>
      <content>
        <div>daniel_nagy@me.com</div>
        <div>Personal</div>
      </content>
    </item>
    <item separate>
      <content>
        <div>dn686910@ohio.edu</div>
        <div>School</div>
      </content>
    </item>
  </list>
  
  <list icon-list separate>
    <div class="title">Find Me On</div>
    <a ink-color="#B3E5FC" item separate ng-href="https://github.com/daniel-nagy" target="_blank">
      <icon src="icons/share.svg"></icon>
      <content>
        <div>GitHub</div>
        <div>Social Coding</div>
      </content>
    </item>
    <a ink-color="#B3E5FC" item separate ng-href="https://www.linkedin.com/pub/daniel-nagy/aa/b00/bab" target="_blank">
      <icon src="icons/briefcase.svg"></icon>
      <content>
        <div>LinkedIn</div>
        <div>Professional Networking</div>
      </content>
    </item>
    <a ink-color="#B3E5FC" item separate ng-href="https://twitter.com/danielnagy13" target="_blank">
      <icon src="icons/message.svg"></icon>
      <content>
        <div>Twitter</div>
        <div>@danielnagy13</div>
      </content>
    </item>
  </list>
  
</scroll>