<list icon-list seperate>
  <div class="title">Contact Information</div>
  <item>
    <icon src="icons/place.svg"></icon>
    <content>
      <div>Ohio University</div>
      <div>Athens, Ohio</div>
    </content>
  </item>
  <divider></divider>
  <item>
    <icon src="icons/phone.svg"></icon>
    <content>
      <div>(419) 602-1585</div>
      <div>Mobile</div>
    </content>
  </item>
  <divider></divider>
  <item>
    <icon src="icons/mail.svg"></icon>
    <content>
      <div>daniel_nagy@me.com</div>
      <div>Personal</div>
    </content>
  </item>
  <item>
    <content>
      <div>dn686910@ohio.edu</div>
      <div>School</div>
    </content>
  </item>
</list>

<list icon-list>
  <div class="title">Other Profiles</div>
  <a item ink-color="#B3E5FC" href="https://github.com/daniel-nagy" target="_blank">
    <icon src="icons/branch.svg"></icon>
    <content>
      <div>GitHub</div>
      <div>Social Coding</div>
    </content>
  </a>
  <divider></divider>
  <a item ink-color="#B3E5FC" href="https://www.linkedin.com/pub/daniel-nagy/aa/b00/bab" target="_blank">
    <icon src="icons/briefcase.svg"></icon>
    <content>
      <div>LinkedIn</div>
      <div>Professional Networking</div>
    </content>
  </a>
  <divider></divider>
  <a item ink-color="#B3E5FC" href="https://twitter.com/danielnagy13" target="_blank">
    <icon src="icons/message.svg"></icon>
    <content>
      <div>Twitter</div>
      <div>@danielnagy13</div>
    </content>
  </a>
</list>